{% load staticfiles %}


<div class="wrap-body">
	<br>
	<footer>	
			<div class="zerogrid">
				<div class="wrap-footer">
					<div class="row">
						
						<div class="col-1-3 col-footer-1">
							<div class="wrap-col">
								<h3 class="widget-title">感谢</h3>
								<p>感谢您的访问！</p>
								<p>您可以在这儿了解岩石裂隙组的基本情况，若您对我们的论文及软件等存疑，欢迎您移步联系我们版块给我们留言，谢谢！</p>
							</div>
						</div>
						
						<div class="col-1-3 col-footer-2">
							<div class="wrap-col">
								<h3 class="widget-title">友情链接</h3>
								<ul>
									<li><a href="http://www.cugb.edu.cn">中国地质大学（北京）</a></li>
									<li><a href="https://www.cnki.net">知网</a></li>
									<li><a href="https://www.xmuchong.com">小木虫</a></li>									
									<li><a href="https://www.isiknowledge.com">Web Of Science</a></li>									
								</ul>
							</div>
						</div>
						
						<div class="col-1-3 col-footer-3">
							<div class="wrap-col">
								<h3 class="widget-title">地址</h3>
								<div class="row">
									<address>
										<strong>北京市</strong>
										<br>
										海淀区学院路29号
										<br>
										中国地质大学（北京）
										<br>
										资源与环境工程学院
									</address><br>
									<p>
										<strong>于青春老师Email:</strong>
										<br>
										yuqch@cugb.edu.cn
									</p>
								</div>
							</div>
						</div>
					

					</div>
				</div>
			</div>
			
	
			<center>
				<div class="copyright" style="color:white">
					Copyright ©Rock Fracture Group
				</div>	
			</center>
		
	</footer>

</div>
