{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Password Change{% endblock %}

{% block content %}
    <div class="row text-center vertical-middle-sm">
        
        <h1>重置密码</h1>
        <p>请输入两次新密码来重置密码！</p>
        
        <form class="form-horizontial" action="." method="post">
        {% csrf_token %}
           <!--       {{ form.as_p }} -->
            <div class="form-group">
                <label for="{{ form.new_password1.id_for_label }}"
                    class="col-md-5 control-label text-right">新密码</label>
            <div class="col-md-7 text-left">{{ form.new_password1 }}</div><br>
            </div>
            
              <div class="form-group">
                <label for="{{ form.new_password2.id_for_label }}"
                    class="col-md-5 control-label text-right">密码</label>
            <div class="col-md-7 text-left">{{ form.new_password2 }}</div><br>
            </div>
            
        <input type="submit" class="btn btn-primary btn-lg"  value="重置">
    </form>
    </div>
{% endblock %}
