{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Password Change{% endblock %}

{% block content %}
    <div class="row text-center vertical-middle-sm">
        <div class="col-md-11" >
        <h1>忘记密码？请重置！</h1>
        <p>请输入您的邮箱进行重置！</p>
        
        <form class="form-horizontial" action="." method="post">
        {% csrf_token %}
           <!--       {{ form.as_p }} -->
            
              <div class="form-group">
                <label for="{{ form.email.id_for_label }}"
                    class="col-md-6 control-label text-right">Email Address</label>
            <div class="col-md-6 text-left">{{ form.email }}</div><br>
            </div>
            
        <input type="submit" class="btn btn-primary btn-lg"  value="重置">
    </form>
    </div>
    </div>
{% endblock %}
